:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  /* Fonts  */
  --fraunces: "Fraunces", serif;
  --montserrat: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: var(--White);
  display: flex;
  height: 500px;
  width: 650px;
  border-radius: 10px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.product-content {
  padding: 2rem;
}

.category {
  color: var(--Dark-grayish-blue);
  padding-bottom: 1rem;
}

.product-name {
  font-family: var(--fraunces);
  font-size: 2.3em;
}

.product-description {
  padding: 1.5rem 0;
  line-height: 1.4;
  font-size: 1rem;
}

.product-price {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-bottom: 2rem;
}

.product-price h2 {
  font-size: 2.6rem;
  font-family: var(--fraunces);
  color: var(--dark-cyan);
}

.product-price p {
  color: var(--Dark-grayish-blue);
}

.cart {
  background-color: var(--dark-cyan);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
}

.cart:hover {
  background-color: rgb(12, 63, 29);
}

.attribution {
  font-size: 10px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
