html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
}

:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  /* Fonts  */
}

body {
    background-color: var(--Cream);
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    width: 700px;
    height: 500px;

}

#image {
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.product-description {
    padding: 2em;
}

.product-description .category {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

.product-description .product-name {
    font-family: 'Fraunces', serif;
}

.product-price {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: aqua;
    height: 100px;
}

.product-price h2 {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 3rem;
}